<%layout("layouts/boilerplate") %>

<div class="row">
    <div class="alert-danger alert col-6 offset-3" role="alert">
        A simple danger alert-check it out! 
        <div class="error-message"><%=message %></div>
        
    </div>
</div>